node_modules/
.DS_Store
.env
*.sqlite
routeTree.gen.ts
*.timestamp-*
01-no-frills-react/
02-tools/
03-jsx/
04-hooks/
05-effects/
06-custom-hooks/
07-handling-forms/
08-context/
09-routing/
10-query/
11-modals/
12-error-boundaries/
13-uncontrolled-forms/
14-testing/
15-form-actions/
16-use/
17-react-compiler/
18-deploying/
README.md
.editorconfig
.node-version
.nvmrc
